@{
    ViewData["Title"] = "Vote";
}
@model List<VoteApplication.Services.Models.CandidateModel>
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <label for="candidate">Wybierz kandydata</label>
    <select id="candidate">
        <option value="0"></option>
        @foreach (var candidate in Model)
        {
            <option title="@candidate.FullName" value="@candidate.Id">@candidate.FullName</option>
        }
    </select>
</div>
